<!DOCTYPE html>
<html lang="en">
    
<!-- Head of the html file -->
<head>
    <title>Mentor and Mentee Sessions</title>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="assets/css/style-main.css" type="text/css" rel="stylesheet"/>
    
</head>    
        
<!-- Body of the html file -->
<body>
  
    <div id="wrapper">
        <div id ="content-con" class="container">
            <div class="row">
                <!-- Left menu of the page -->
                <div id="left-menu" class="col-md-3">

                    <br>
                    <br>
                    <br>
                    <h1>MentorRock</h1>
                    <p>My Page</p>
                    <br>
                    <br>

                    <!-- Sidenav for the user -->
                      <nav id="ss" class="navbar navbar-default navbar-fixed-side">
                        <!-- normal collapsable navbar markup -->
                        <ul id="sidenav-buttons" class="nav navbar-nav">
                            <li><a href="#">My Profile</a></li><br>
                            <li><a href="#">Account Settings</a></li><br>
                            <li><a href="#">One-to-One</a></li><br>
                            <li><a href="#">Mentors</a></li><br>
                            <li><a href="#">Mentor Application</a></li><br>
                            <li><a href="#">Quit</a></li><br>
                            <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Signout</a></li>
                        </ul> 

                      </nav>
                    <br>

                </div><!-- End of left menu div -->  

                <br>
                
                <!-- Main content of the page -->
                <div id="content" class="col-md-9">
                    <h1>Content Test</h1>
                    <br>
                    <br>
                    <br>
                    <br>
                    <p>Hello world</p>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    <p>Scroll testings</p>
                </div>

            </div>
        </div> 
    </div>
    
</body>
        
</html>