<!DOCTYPE html>
<html lang="en">
    
<!-- Head of the html file -->
<head>
    <title>MentorRock</title>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
  <!-- server.js already points to "public". Just add the next file/folder for the path -->
  <link href="assets/css/style-main.css" type="text/css" rel="stylesheet"/>
    
</head>    
        
<!-- Body of the html file -->
<body>
  
    <div id="wrapper">
        <div id ="content-con" class="container">
            <div class="row">
                <!-- Left menu of the page -->
                <div id="left-menu" class="col-md-3">

                    <br>
                    <br>
                    <br>
                    
                    <h1 id="title">Mentor</h1><h1 id="title2">Rock</h1>
                    <p id="mentee">Mentee</p> <!-- Change this p to "XXXX's" Page-->
                    
                    <br>
                    <br>

                    <!-- Sidenav for the user -->
                      <nav id="ss" class="navbar navbar-default navbar-fixed-side">
                        <!-- normal collapsable navbar markup -->
                        <ul id="sidenav-buttons" class="nav navbar-nav">
                            
                            <!-- User Mentee/Mentor Page Links-->
                            <li><a href="/ui-home"><span class="glyphicon glyphicon-home"></span> Home</a></li><br>
                            <li><a href="/myprofile"><span class="glyphicon glyphicon-user"></span> My Profile</a></li><br>
                            <li><a href="/accsettings"><span class="glyphicon glyphicon-cog"></span> Account Settings</a></li><br>
                            <li><a href="/chatslist"><span class="glyphicon glyphicon-road"></span> One-to-One</a></li><br>
                            <li><a href="/searchmentor"><span class="glyphicon glyphicon-search"></span> Search for Mentors</a></li><br>
                            <li><a href="/mentorapp"><span class="glyphicon glyphicon-pencil"></span> Mentor Application</a></li><br>
                            <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Signout</a></li><br>
                        </ul> 

                      </nav>
                    <br>

                </div><!-- End of left menu div -->  

                <br>
                
                <!-- Main content of the page -->
                <div id="content" class="col-md-9">
                    <h1>List of Active Chats</h1>
                    
                    <h2>TO-DO:</h2>
                    <p>Implement div entities of this page, and connecting it to recieve particular DB information</p><br>
                    
                    
                </div>

            </div>
        </div> 
    </div>
    
</body>
        
</html>