<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>Chat Box</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/bootstrap3/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/assets/css/chatbox.css">
</head>

<body>
    <div class="jumbotron">

        <div class="container bigpanel">
            <!--  Chat menu starts  -->
            <div class="chat-menu">
                <div class="friend-list">
                    <a class="friend-list-item" href="PROFILE">
                        <div class="pull-left">
                            <img src="../../public/assets/img/face-1.jpg" alt="" class="friend-list-avatar">
                        </div>
                        <small class="friend-list-item-name">Morris Luck</small>
                    </a>
                    <a class="friend-list-item" href="PROFILE">
                        <div class="pull-left">
                            <img src="../../public/assets/img/face-2.jpg" alt="" class="friend-list-avatar">
                        </div>
                        <small class="friend-list-item-name">Liche Bore</small>
                    </a>
                    <a class="friend-list-item" href="PROFILE">
                        <div class="pull-left">
                            <img src="../../public/assets/img/face-4.jpg" alt="" class="friend-list-avatar">
                        </div>
                        <small class="friend-list-item-name">Jada King</small>
                    </a>
                    <a class="friend-list-item" href="PROFILE">
                        <div class="pull-left">
                            <img src="../../public/assets/img/face-5.jpeg" alt="" class="friend-list-avatar">
                        </div>
                        <small class="friend-list-item-name">Babe Que</small>
                    </a>
                    <a class="friend-list-item" href="PROFILE">
                        <div class="pull-left">
                            <img src="../../public/assets/img/face-6.jpg" alt="" class="friend-list-avatar">
                        </div>
                        <small class="friend-list-item-name">Sio Joe</small>
                    </a>
                    <a class="friend-list-item" href="PROFILE">
                        <div class="pull-left">
                            <img src="../../public/assets/img/face-7.jpg" alt="" class="friend-list-avatar">
                        </div>
                        <small class="friend-list-item-name">Jamie Kaka</small>
                    </a>
                    <a class="friend-list-item" href="PROFILE">
                        <div class="pull-left">
                            <img src="../../public/assets/img/face-8.jpg" alt="" class="friend-list-avatar">
                        </div>
                        <small class="friend-list-item-name">Lemon Tea</small>
                    </a>
                    <a class="friend-list-item" href="PROFILE">
                        <div class="pull-left">
                            <img src="../../public/assets/img/tesla.jpg" alt="" class="friend-list-avatar">
                        </div>
                        <small class="friend-list-item-name">Tesla Coil</small>
                    </a>

                    <a class="friend-list-item" href="PROFILE">
                        <div class="pull-left">
                            <img src="../../public/assets/img/max.gif" alt="" class="friend-list-avatar">
                        </div>
                        <small class="friend-list-item-name">Max Well</small>
                    </a>
                    <a class="friend-list-item" href="PROFILE">
                        <div class="pull-left">
                            <img src="../../public/assets/img/einstein.jpg" alt="" class="friend-list-avatar">
                        </div>
                        <small class="friend-list-item-name">Stein Rock</small>
                    </a>
                </div>
            </div>
            <!--  Chat menu ends  -->

            <!--  Chat box starts  -->
            <div class="chat-body">
                <!--  active chat profile starts  -->
                <div class="pull-left chat-profile">
                    <img src="../../public/assets/img/tesla.jpg" alt="" class="avatar m-r-10">
                    <span id="chat-name">Tesla Coil</span>
                </div>
                <!--  active chat profile ends  -->
                <!--  function nav starts  -->
                <ul class="function-nav">
                    <li>
                        <a href="">
                            <i class="fa fa-times-rectangle" style="font-size:18px"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-folder-open" style="font-size:18px"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-refresh" style="font-size:18px"></i>
                        </a>
                    </li>
                </ul>
                <!--  function nav ends  -->
                <div class="chat-box">

                    <div class="chat-bubble left">
                        <div class="pull-left">
                            <img src="../../public/assets/img/tesla.jpg" alt="" class="icon-avatar">
                        </div>
                        <div class="message-body">
                            <div class="message-content">
                                Hello how are you doing? How is it going with the new chapter? Any questions that I can help?
                            </div>
                        </div>
                    </div>

                    <div class="chat-bubble right">
                        <div class="pull-right">
                            <img src="../../public/assets/img/face-3.jpg" alt="" class="icon-avatar">
                        </div>
                        <div class="message-body">
                            <div class="message-content pull-right">
                                I have some problem with the experiment procedure. Could you please explain a little bit on the initial set-up. What is the importance of the callibration at the beginning, and what would be affected if we skip the tedious steps? Further, isn't it likely that we need to callibrate each time we do another round of observation given the criteria, it doesn't seem practical.
                            </div>
                        </div>
                    </div>

                    <div class="chat-bubble left">
                        <div class="pull-left">
                            <img src="../../public/assets/img/tesla.jpg" alt="" class="icon-avatar">
                        </div>
                        <div class="message-body">
                            <div class="message-content">
                                Yeah that's a good question!! I remember having similar confusiton while I first read that part. Well, in fact, I think it would be easier if you try to go through the whole procedure in your mind, and consider taking out one step, and compare what might go wrong. Maybe you can now describe the procedure to me, and let's discuss what really is a must and what is not, and why.
                            </div>
                        </div>
                    </div>

                    <div class="chat-bubble right">
                        <div class="pull-right">
                            <img src="../../public/assets/img/face-3.jpg" alt="" class="icon-avatar">
                        </div>
                        <div class="message-body">
                            <div class="message-content pull-right">
                                Oh that would be awesome, so from what I read, we should first .... and then ... so .... but.... XD Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, tenetur?
                            </div>
                        </div>
                    </div>

                </div>
                <div class="create-message">
                    <button id="upload-button" class="bottom-button"><i class="fa fa-cloud-upload" style="font-size:24px"></i></button>
                    <button id="send-message-button" class="bottom-button"><i class="fa fa-send-o" style="font-size:24px"></i></button>
                    <textarea id="message-input" placeholder="I want to say..."></textarea>
                </div>
            </div>
            <!--  Chat box ends  -->
        </div>
    </div>

    <footer>

    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="../../public/javascript/chatbox.js"></script>
</body>

</html>
