<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>MentorRock Contacts</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap3/css/bootstrap.min.css">
    <link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/css/contacts.css">
</head>

<body>
    <div class="jumbotron">

        <div>
            <div class="container">
                <h2 id="contact-title">My Contacts</h2>
            </div>
        </div>

        <!--  mentor-carousel start  -->
        <div id="mentor-list" class="owl-carousel">
            <div class="carousel-item"> <img class="avatar" src="assets/img/face-2.jpg" alt="">Liche Bore<br><a href="chatbox.html"><button class="chat-button">Chat</button></a></div>
            <div class="carousel-item"> <img class="avatar" src="assets/img/face-1.jpg" alt="">Morris Luck<br><a href="chatbox.html"><button class="chat-button">Chat</button></a></div>
            <div class="carousel-item"> <img class="avatar" src="assets/img/max.gif" alt="">Max Well<br><a href="chatbox.html"><button class="chat-button">Chat</button></a></div>
            <div class="carousel-item"> <img class="avatar" src="assets/img/tesla.jpg" alt="">Tesla Coil<br><a href="chatbox.html"><button class="chat-button">Chat</button></a></div>
            <div class="carousel-item"> <img class="avatar" src="assets/img/einstein.jpg" alt="">Stein Rock<br><a href="chatbox.html"><button class="chat-button">Chat</button></a></div>
            <div class="carousel-item"> <img class="avatar" src="assets/img/face-4.jpg" alt="">Jada King<br><a href="chatbox.html"><button class="chat-button">Chat</button></a></div>
            <div class="carousel-item"> <img class="avatar" src="assets/img/face-5.jpeg" alt="">Babe Que<br><a href="chatbox.html"><button class="chat-button">Chat</button></a></div>
            <div class="carousel-item"> <img class="avatar" src="assets/img/face-6.jpg" alt="">Sio Joe<br><a href="chatbox.html"><button class="chat-button">Chat</button></a></div>
            <div class="carousel-item"> <img class="avatar" src="assets/img/face-7.jpg" alt="">Jamie Kaka<br><a href="chatbox.html"><button class="chat-button">Chat</button></a></div>
            <div class="carousel-item"> <img class="avatar" src="assets/img/face-8.jpg" alt="">Lemon Tea<br><a href="chatbox.html"><button class="chat-button">Chat</button></a></div>
        </div>
        <!--  mentor-carousel end  -->

        <!--  mentee-carousel start  -->
        <div id="mentee-list" class="owl-carousel">
            <div class="carousel-item"> mentee 1 </div>
            <div class="carousel-item"> mentee 2 </div>
            <div class="carousel-item"> mentee 3 </div>
        </div>
        <!--  mentee-carousel end  -->

        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8">

                    </div>

                    <div class="col-md-4">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>

    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="owlcarousel/owl.carousel.min.js"></script>
    <script src="javascript/contacts.js"></script>
</body>

</html>
