<!DOCTYPE html>
<html lang="en">
    
<!-- Head of the html file -->
<head>
    <title>MentorRock</title>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/js/search-mentor.js"></script>
    
  <!-- server.js already points to "public". Just add the next file/folder for the path -->
  <link href="assets/css/style-main.css" type="text/css" rel="stylesheet"/>
    
</head>    
        
<!-- Body of the html file -->
<body>
  
    <div id="wrapper">
        <div id ="content-con" class="container">
            <div class="row">
                <!-- Left menu of the page -->
                <div id="left-menu" class="col-md-3">

                    <br>
                    <br>
                    <br>
                    
                    <h1 id="title">Mentor</h1><h1 id="title2">Rock</h1>
                    <p id="mentee">Mentee</p> <!-- Change this p to "XXXX's" Page-->
                    
                    <br>
                    <br>

                    <!-- Sidenav for the user -->
                      <nav id="ss" class="navbar navbar-default navbar-fixed-side">
                        <!-- normal collapsable navbar markup -->
                        <ul id="sidenav-buttons" class="nav navbar-nav">
                            
                            <!-- User Mentee/Mentor Page Links-->
                            <li><a href="/ui-home"><span class="glyphicon glyphicon-home"></span> Home</a></li><br>
                            <li><a href="/myprofile"><span class="glyphicon glyphicon-user"></span> My Profile</a></li><br>
                            <li><a href="/accsettings"><span class="glyphicon glyphicon-cog"></span> Account Settings</a></li><br>
                            <li><a href="/chatslist"><span class="glyphicon glyphicon-road"></span> One-to-One</a></li><br>
                            <li><a href="/searchmentor"><span class="glyphicon glyphicon-search"></span> Search for Mentors</a></li><br>
                            <li><a href="/mentorapp"><span class="glyphicon glyphicon-pencil"></span> Mentor Application</a></li><br>
                            <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Signout</a></li><br>
                        </ul> 

                      </nav>
                    <br>

                </div><!-- End of left menu div -->  

                <br>
                
                <!-- Main content of the page -->
                <div id="content" class="col-md-9">
                    <h1>Search for Mentors</h1>
                    
                    <br>
                    
                    <p>Click on any of the following interest categories to get started.</p>
                    
                    <br>
                    
                    <button id="academics" class="button" onclick="showList(this.id)">Academics</button>
                    
                    <div id="academics-box">
                        <br>
                        
                        <!-- Make it a 5 list table -->
                        <table id="academic-table">
                            <tr>
                                <td class="patt-one">Aboriginal Studies</td>
                                <td class="patt-two">Accounting</td>
                                <td class="patt-one">African Studies</td>
                                <td class="patt-two">American Studies</td>
                                <td class="patt-one">Aboriginal Studies</td>
                            </tr> 
                            <tr>
                                <td class="patt-two">Animal Physiology</td>
                                <td class="patt-one">Anthropology</td>
                                <td class="patt-two">Statistics</td>
                                <td class="patt-one">Mathematics</td>
                                <td class="patt-two">Archaelogy</td>
                            </tr> 
                            <tr>
                                <td class="patt-one">Architectural Studies</td>
                                <td class="patt-two">Art and Art History</td>
                                <td class="patt-one">Behaviour, Genetics and Neurobiology</td>
                                <td class="patt-two">American Studies</td>
                                <td class="patt-one">Biochemistry</td>
                            </tr> 
                            <tr>
                                <td class="patt-two">Biodiversity and Conservation Biology</td>
                                <td class="patt-one">Bioethics</td>
                                <td class="patt-two">Bioinformatics</td>
                                <td class="patt-one">Bioinformatics and Computational Biology</td>
                                <td class="patt-two">Biological Chemistry</td>
                            </tr> 
                            <tr>
                                <td class="patt-one">Canadian Studies</td>
                                <td class="patt-two">Chemistry</td>
                                <td class="patt-one">Cinema Studies</td>
                                <td class="patt-two">AChristianity and Culture</td>
                                <td class="patt-one">Cognitive Science</td>
                            </tr> 
                            <tr>
                                <td class="patt-two">Computer Science</td>
                                <td class="patt-one">Criminology</td>
                                <td class="patt-two">Biology</td>
                                <td class="patt-one">Engineering</td>
                                <td class="patt-two">Linguistics</td>
                            </tr>                            
                        
                        
                        </table>
                        
                    </div>
                    
                    <!-- Academic List Pagination -->

                    
                    
                    <br><br>
                    
                    <button id="interests-butt" class="button" onclick="showList(this.id)">Interests</button>
                    
                    <div id="interests-box">
                        <br>
                        
                        <table id="interests-table">
                            <tr>
                                <td class="patt-one">Tennis</td>
                                <td class="patt-two">Swimming</td>
                                <td class="patt-one">Basketball</td>
                                <td class="patt-two">Baseball</td>
                                <td class="patt-one">Programming</td>
                            </tr>
                            <tr>
                                <td class="patt-two">Image Editing</td>
                                <td class="patt-one">Blogging</td>
                                <td class="patt-two">Reading</td>
                                <td class="patt-one">Writing</td>
                                <td class="patt-two">Playing Instruments</td>
                            </tr>
                            <tr>
                                <td class="patt-one">Piano</td>
                                <td class="patt-two">Violin</td>
                                <td class="patt-one">Olympics</td>
                                <td class="patt-two">Teaching</td>
                                <td class="patt-one">Volunteering</td>
                            </tr>
                            <tr>
                                <td class="patt-two">Cooking</td>
                                <td class="patt-one">Cleaning</td>
                                <td class="patt-two">Gardening</td>
                                <td class="patt-one">Arts and Crafts</td>
                                <td class="patt-two">TSX Stock</td>
                            </tr>
                            <tr>
                                <td class="patt-one">Makeup and Beauty</td>
                                <td class="patt-two">Birdwatching</td>
                                <td class="patt-one">Walking</td>
                                <td class="patt-two">Cosplaying</td>
                                <td class="patt-one">Origami</td>
                            </tr>
                            <tr>
                                <td class="patt-two">Video Gaming</td>
                                <td class="patt-one">Flower Arranging</td>
                                <td class="patt-two">Yoga</td>
                                <td class="patt-one">Modeling</td>
                                <td class="patt-two">Magic</td>
                            </tr>                      
                        </table>

                    </div><!-- End of interests box -->
                    
                    <br>
                    <br>
                    
                    <center><button id="mentors-butt" class="button" onclick="mentors_submit(this.id)">Submit</button></center>
                    
                    <br><br>
                    
                    <h2>TO-DO:</h2>
                    <p>Add the interest and academic categories list to the Database</p>
                    <p>Implement the "Submit" button function, so that it connects to the DB and searches for mentors.</p>
                    
                    
                </div>

            </div>
        </div> 
    </div>
    
</body>
        
</html>