.jumbotron {
    background-image: url(../../assets/img/personal-mentor.jpg);
    background-size: 100%;
    min-height: 700px;
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: auto;
    padding: 10px;
    border-radius: 5px;
}

.panel {
    max-height: 690px;
    background-color: rgba(170, 175, 175, 0.68);
    overflow-y: scroll;
}

#form-title {
    color: #c6c5c5;
    font-family: sans-serif;
}

textarea {}

#submit-button {
    float: right;
}
