
/* The main components of the document */
html,body {
  height:100vh;  
  max-width: 1500px;
  margin: 0 auto;
  padding-top: 00px; 
  background-color: ghostwhite;
}
/*
#wrapper {
  height: 100%;
  overflow: auto;
}
*/   
.container .row .col-md-6 .col-sm-4 { 
  height: 100vh;
  overflow: auto;  
} 

.row {
    height: 100%;
    overflow: auto;
}

.left-menu {
    text-align: center;
    align-content: center;
    background-color: blue;
    height: 90vh;
    overflow-y: hidden;
}

#content {
    text-align: center;
    align-content: center;
    background-color: ghostwhite;
    height: 95vh;
    overflow-y: auto;
    
    /*float:left;
    width:100%;
    background:#eee;*/
    border: solid #555;
}

/* Entities within rows/divs/ etc*/
#image {
    width: 150px;
    height: 150px;
    background-color: black;
    align-content: center;
    text-align: center;
}

#sidenav-buttons.li {
    text-align: center;
}