<html>

<head>
    <!-- Importing the main-style headers -->
    <% include ../../partials/contact-header %>
</head>

<body>

    <div id="wrapper">

        <!-- Naivgation Bar: TOP -->
        <% include ../../partials/navigation-ui %>

            <br>
            <br>
            <br>
            <br>

            <div id="content-con" class="contain">
                <div class="row">
                    <!-- Sidenav and page content-->

                    <div id="left-menu" class="col-xs-5 col-md-3">
                        <% include ../../partials/sidenav-main %>
                    </div>
                    <!-- End of left menu div -->

                    <br>

                    <!-- Main content of the page -->

                    <!--<div id="content" class="jumbotron col-xs-13 col-md-9">-->
                    <div id="content" class="jumbotron col-xs-13 col-md-9">

                        <div>
                            <div class="container">
                                <h2 id="contact-title">My Contacts</h2>
                            </div>
                        </div>

                        <!--  mentor-carousel start  -->
                        <div id="mentor-list" class="owl-carousel">
                            <div class="carousel-item"> <img class="avatar" src="assets/img/face-2.jpg" alt="">Liche Bore<br><a href="/chatslist"><button class="chat-button">Chat</button></a></div>
                            <div class="carousel-item"> <img class="avatar" src="assets/img/face-1.jpg" alt="">Morris Luck<br><a href="/chatslist"><button class="chat-button">Chat</button></a></div>
                            <div class="carousel-item"> <img class="avatar" src="assets/img/max.gif" alt="">Max Well<br><a href="/chatslist"><button class="chat-button">Chat</button></a></div>
                            <div class="carousel-item"> <img class="avatar" src="assets/img/tesla.jpg" alt="">Tesla Coil<br><a href="/chatslist"><button class="chat-button">Chat</button></a></div>
                            <div class="carousel-item"> <img class="avatar" src="assets/img/einstein.jpg" alt="">Stein Rock<br><a href="/chatslist"><button class="chat-button">Chat</button></a></div>
                            <div class="carousel-item"> <img class="avatar" src="assets/img/face-4.jpg" alt="">Jada King<br><a href="/chatslist"><button class="chat-button">Chat</button></a></div>
                            <div class="carousel-item"> <img class="avatar" src="assets/img/face-5.jpeg" alt="">Babe Que<br><a href="/chatslist"><button class="chat-button">Chat</button></a></div>
                            <div class="carousel-item"> <img class="avatar" src="assets/img/face-6.jpg" alt="">Sio Joe<br><a href="/chatslist"><button class="chat-button">Chat</button></a></div>
                            <div class="carousel-item"> <img class="avatar" src="assets/img/face-7.jpg" alt="">Jamie Kaka<br><a href="/chatslist"><button class="chat-button">Chat</button></a></div>
                            <div class="carousel-item"> <img class="avatar" src="assets/img/face-8.jpg" alt="">Lemon Tea<br><a href="/chatslist"><button class="chat-button">Chat</button></a></div>
                        </div>
                        <!--  mentor-carousel end  -->

                        <!--  mentee-carousel start  -->
                        <div id="mentee-list" class="owl-carousel">
                            <div class="carousel-item"> mentee 1 </div>
                            <div class="carousel-item"> mentee 2 </div>
                            <div class="carousel-item"> mentee 3 </div>
                        </div>
                        <!--  mentee-carousel end  -->

                        <footer>

                        </footer>
                    </div>
                    <!-- End of jumbotron-->

                </div>
                <!-- End of row div-->
            </div>
            <!-- ENd of content-con div-->
    </div>
    <!-- End of wrapper-->

    <!-- Needed to load content of my-contats -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="owlcarousel/owl.carousel.min.js"></script>
    <script src="javascript/contacts.js"></script>
</body>
<script src="assets/js/custom.js"></script>
</html>
