<!DOCTYPE html>
<html lang="en">
    
<!-- Head of the html file -->
<head>
    <% include ../../partials/title %>
    
    <!-- Importing the main-style headers -->
    <% include ../../partials/main-style %>
</head>    
        
<!-- Body of the html file -->
<body>
  
    <div id="wrapper">
        
         <!-- Naivgation Bar: TOP -->
        <% include ../../partials/navigation %>
        
        <br>
        <br>
        <br>
        <br>
        
        <div id ="content-con" class="container">
            <div class="row">
        
                <!-- Sidenav and page content-->
                
                <div id="left-menu" class="col-xs-5 col-md-3">
                    <% include ../../partials/sidenav-main %>
                </div><!-- End of left menu div -->  

                <br>
                
                <!-- Main content of the page -->
                <div id="content" class="col-xs-13 col-md-9">
                    <h1>Mentor Application Form</h1>
                    
                    <h2>TO-DO:</h2>
                    <p>Implement this page</p><br>
                    
                    
                </div>

            </div>
        </div> 
    </div>
    
</body>
        
</html>