<!DOCTYPE html>
<html lang="en">

<!-- Head of the html file -->
<head>
    <% include ../../partials/title %>

    <!-- Importing the main-style headers -->
    <% include ../../partials/main-style %>
    <script src="assets/js/search-mentor.js"></script>

</head>

<!-- Body of the html file -->
<body>

    <div id="wrapper">

         <!-- Naivgation Bar: TOP -->
        <% include ../../partials/navigation-ui %>

        <br>
        <br>
        <br>
        <br>

        <div id ="content-con" class="container">
            <div class="row">

                <!-- Sidenav and page content-->
                    <% include ../../partials/sidenav-main %>

                <br>

                <!-- Main content of the page -->
                <div id="content" class="col-xs-13 col-md-9">
                    <h1>Search for Mentors</h1>

                    <br>

                    <p>Click on any of the following interest categories to get started.</p>

                    <br>

                    <button id="academics" class="btn" onclick="showList(this.id)">Academics</button>

                    <div id="academics-box">
                        <br>

                        <!-- Import the interests-table -->
                        <% include ../../partials/academics-table %>

                    </div>

                    <!-- Academic List Pagination -->

                    <br><br>

                    <button id="interests-butt" class="btn" onclick="showList(this.id)">Interests</button>

                    <div id="interests-box">
                        <br>

                        <!-- Import the acaemics-table -->
                        <% include ../../partials/interests-table %>

                    </div><!-- End of interests box -->

                    <br>
                    <br>

                    <center><button id="mentors-butt" class="btn" onclick="submitInterests()">Submit</button></center>

                    <br><br>

                    <div id="result">
                    </div>

                </div>

            </div>
        </div>
    </div>


</body>
  <script src="assets/js/custom.js"></script>      
</html>
