<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Importing the main-style headers -->
    <% include ../../partials/admin-style %> 

</head>
<body>


    <!-- Importing the main-style headers -->
    <% include ../../partials/admin-sidenav %> 

    <div class = "container-fluid text-center">
        <div class="row content">
            <div class="col-sm-1"></div>



            <!-- Main COntent of the Page -->
            <div class="col-sm-10 text-left main-content" >
                <div class="addUserView">

                </div>


                <div class = "manageMentorsView">

                </div>

                <div class="users">

                </div>


            </div><!-- ENd of main content of the page-->
            <div class="col-sm-1"></div>


        </div> <!-- End of row content -->
    </div> <!-- End of container-fluid -->

    <footer>
        <div class="container-fluid col-sm-12" >
            <p >Copyright@2016</p>
        </div>
    </footer>

    <script src="javascript/base.js"></script>


</body>
</html>

